<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<div class="contacts_count">
    <p>
      There is <span><%= Contact.all.count %></span> contacts
    </p>
    </div>
    <ul class="contacts_listed">
      <% Contact.all.each do |contact| %>
        <li><%= contact.first_name %> <%= contact.last_name %>
        (<%= contact.email %>)
        <br>
        <a href="edit">Edit</a> <span> | </span> <a href="delete">Delete</a>
          </li>
      <% end %>
    </ul>

  </body>
</html>
